header{
    background-image: url("imagenes/backgroundheader.jpg");
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
}
body{
    display: flex;
    flex-direction: column;
}
container div{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
#carta {
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: black;
    text-shadow: grey 1px 1px;
}

#carta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 1s, background-image 1s;

    z-index: -1;
}

#carta:hover::before {
    background-image: url("imagenes/carta.jpg");
    filter: blur(2px);
}
#carta:hover{
color: white;
    border-radius: 20%;
}
#contacto {
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: black;
    text-shadow: grey 1px 1px;
}

#contacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 1s, background-image 1s;

    z-index: -1;
}

#contacto:hover::before {
    background-image: url("imagenes/llama.png");
    filter: blur(2px);

}
#contacto:hover{
    color: white;
    border-radius: 20%;
}
.botones{
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: beige;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    transition: border-radius 0.4s ease-in-out;
    height: 50px;
    width: 100px;
    position: sticky;
    top: 0;
}
#comidas{
   display: grid;
    justify-content: center;
    align-items: center;
    background-image: url("/imagenes/backgroundmenu.png");
    background-size: cover;      /* La imagen cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    
}
.card{
    h5{
        color: lime;
        text-shadow: 1px 3px darkgreen;
    }
    img{
        height: 275px;
        width: 300px;
        display: block;
        margin: auto;
        padding-top: 10px;
        border-radius: 20px;
    }
    .card-body{
        text-shadow: 1px 2px black;
    }
    row-gap: 20px;
    column-gap: 20px;
    height: auto;
    color: white;

    width: 400px;
    margin: 2px;
    border-radius: 10px;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(21, 207, 0, 0.88) 100%);
    border-color: black;

}

#carousel-novedades {
    max-width: 800px;
    margin: 0 auto;         /* centra el carrusel en la página */
    justify-content: center;
    align-items: center;
    background-image: url("/imagenes/backgroundmenu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-carousel {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 20%;
    object-fit: cover;
    object-position: center;   /* centra el recorte de la imagen dentro del marco */
}