/*HEADER*/
header{
    background-image: url("imagenes/backgroundheader.jpg");
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}

#header-novedades{
    font-family: footer-font;
    margin: 2px;
    font-size: 48px;
}
#navegador{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;

}
#logo-container{

    position: absolute;
    left: 20px;
}
#logo{
    width: 75px;
    height: 75px;

    transition: scale 1s;
}
#logo:hover{
    scale: 1.10;
}
#inicio {
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: black;
    text-shadow: grey 1px 1px;
}
#inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 1s, background-image 1s;

    z-index: -1;
}
#inicio:hover::before {
    background-image: url("imagenes/inicio.png");
    filter: blur(2px);
}
#inicio:hover {
    color: white;
    border-radius: 20%;
}
.carta-link {
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: black;
    text-shadow: grey 1px 1px;
}
.carta-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 1s, background-image 1s;

    z-index: -1;
}
.carta-link:hover::before {
    background-image: url("imagenes/carta.jpg");
    filter: blur(2px);
}
.carta-link:hover{
    color: white;
    border-radius: 20%;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: beige;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: black solid 2px;
    border-radius: 5px;
    transition: border-radius 0.4s ease-in-out, scale 0.5s;
    height: 50px;
    width: 100px;
    position: sticky;
    top: 0;
    font-family: header-font;
    font-size: 30px;
    text-align: center;

    justify-content: center;


}
.botones:hover{
    scale: 1.10;
}


/*CAROUSEL*/
#carousel-novedades {
    width: 100%;
    max-width: 750px;
    margin: 20px auto;
    transition: scale 1s;

}
#carousel-novedades:hover{
    scale: 1.10;
}
#carouselExample{
    border: black solid 2px;
    border-radius: 12px;
}
.carousel-item {
    position: relative;
    text-align: center;
}
.carousel-item::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
            to bottom,
            transparent 45%,
            rgba(0, 0, 0, 0.4) 65%,
            rgba(0, 0, 0, 0.9) 90%,
            black 100%
    );

    z-index: 1;
    pointer-events: none;
}
.imagen-carousel {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center ;
    border-radius: 12px;
    transition: scale 2s;
}
.carousel-caption {
    font-family: villain-font;

    /* Quitamos el rectángulo negro */
    background-color: transparent;

    /* Colocamos el texto encima del gradient */
    z-index: 2;

    color: white;
}
.carousel-caption h5 {
    color: greenyellow;
    text-decoration: underline;
    text-shadow: 2px 2px 3px black;
}
.carousel-caption p {
    color: white;
    text-shadow: 2px 2px 3px black;
}

#car2{

}


/*COMIDAS*/
#masvendido{
    font-family: footer-font;
    text-decoration: underline;
}
#famosos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

#comidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 0px;
    background-image: url("imagenes/backgroundmenu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card{
    transition: scale 1s;
    h5{
        font-family: villain-font;
        color: lime;
        text-shadow: 1px 3px darkgreen;
        text-decoration: underline;
    }
    img{
        width: 90%;
        height: 275px;

        object-fit: cover;
        object-position: center;

        display: block;
        margin: 10px auto 0;

        border-radius: 20px;
    }
    .card-body{
        text-shadow: 1px 2px black;
    }
    row-gap: 20px;
    column-gap: 20px;
    height: auto;
    color: white;

    width: 400px;
    margin: 2px;
    border-radius: 10px;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(21, 207, 0, 0.88) 100%);
    border: black solid 2px;

}
.card:hover{
    scale: 1.10;
}

/*Hamburguesas mas vendidas*/
#joker{
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(179, 0, 255, 0.88) 100%);
overflow: hidden;
    img{
        height: 275px;
        width: 300px;
        display: block;
        margin: auto;
        padding-top: 10px;
        border-radius: 20px;
    }
    h5{
        color: yellow;
        text-shadow: 2px 1px darkgoldenrod;
    }
}
#joker::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("imagenes/burguers/jokerbg.png");
    background-size: cover;
    background-position: center 180px;
    background-repeat: no-repeat;

    opacity: 0.7; /* 👈 opacidad SOLO de la imagen */
    pointer-events: none;
}
#joker > * {
    position: relative;
    z-index: 1;
}

#luthor{
    overflow: hidden;
    img{
        height: 275px;
        width: 300px;
        display: block;
        margin: auto;
        padding-top: 10px;
        border-radius: 20px;
    }
}
#luthor::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("imagenes/burguers/luthorbg.png");
    background-size: cover;
    background-position: center 110px;
    background-repeat: no-repeat;

    opacity: 0.7; /* 👈 opacidad SOLO de la imagen */
    pointer-events: none;
}
#luthor > * {
    position: relative;
    z-index: 1;
}

#quitap{
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 162, 0, 0.88) 100%);
    overflow: hidden;
    img{
        height: 275px;
        width: 300px;
        display: block;
        margin: auto;
        padding-top: 10px;
        border-radius: 20px;
    }
    h5{
        color: orange;
        text-shadow: 1px 2px darkgoldenrod ;
    }

}
#quitap::before{
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center 150px;
    background-repeat: no-repeat;

    opacity: 0.7; /* 👈 opacidad SOLO de la imagen */
    pointer-events: none;
}
#quitap > * {
    position: relative;
    z-index: 1;
}

/*FOOTER*/
footer{
    display: grid;
    grid-template-columns: 400px auto 500px;
    background-image: url("imagenes/footer.png");
    background-size: cover;      /* La imagen cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    height: 400px;
    color: white;
    font-family: footer-font;
    text-align: center;
    text-shadow: black 2px 1px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    column-gap: 20px;
    padding: 20px;
}
#izquierda-footer{
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#logofooter{
    height: 160px;
    width: 160px;
    padding: 10px;
}
.icons-footer{
    img{
        width: 60px;
        height: 60px;
        padding: 3px;
        border-radius: 20px;
        border: white solid 2px;
        transition: scale 1s;
    }


}
.icons-footer img:hover{
    scale: 1.10
}
#derecha-footer{
    padding: 10px;
    background-color: beige;
    border: 2px;
    border-color: white;
    border-radius: 20px ;
    color: black;
    text-shadow: white 2px 1px;
    justify-content: center;
    align-items: center;
    p{
        text-decoration: underline;
    }

}
#alergenos{
    background-color: antiquewhite;
    color: black;
    text-shadow: white 1px 2px;
    border-radius: 20px;
    border: red solid 6px;
    font-size: 16px;
    h3{
        text-decoration: underline;
    }
    h4{
        text-decoration: underline;
    }
}
#lista{
    display: grid;
    justify-content: center;
    column-gap: 4px;
    grid-template-columns: auto auto auto auto auto auto auto;
    img{
        height: 80px;
        width: 60px;
    }
}

/*FUENTES*/
@font-face {
    font-family: header-font;
    src: url("fonts/DontClickMeDemoRegular-2X28.ttf");
}
@font-face {
    font-family: villain-font;
    src: url("fonts/Yataghan-Regular.otf");
}
@font-face {
    font-family: footer-font;
    src: url("fonts/Raleway-Bold.ttf");
}